# edit this file and rename to ".env" for work

# Mackerel の 通知チャンネル用に利用するエンドポイント名
# default is http://example.com:4567/my_secret_path_for_receive_webhook_endpoint
WEBHOOK_ENDPOINT="my_secret_path_for_receive_webhook_endpoint"

# twitter API tokens
# useful gems are here: https://github.com/jugyo/get-twitter-oauth-token
POST_TO_TWITTER=y
TWITTER_CONSUMER_KEY=XxXxXxXxXxXxXxXxXxXxXx
TWITTER_CONSUMER_SECRET=XxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXx
TWITTER_ACCESS_KEY=8888888888888888888-XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx
TWITTER_ACCESS_TOKEN_SECRET=XxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxX
